body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.4em;
background-image:url(https://www.bundestag.de/resource/blob/710792/1412e3a264dedb70095c5662743aee3e/adler-data.png);
}
.container {
  max-width: 960px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}
.box {
  background-color: rgb(3, 123, 123);
  border: 1px solid;
  color: rgb(11, 154, 154);
  padding: 20px;
  margin-bottom: 10px;
}
.box p {
  text-align: center;
  text-align: justify;
  color: rgb(3, 234, 165);
}
.box h3 {
  text-align: center;
  text-align: justify;
  color: rgb(218, 174, 43);
}
.buttonstyle {
  border: solid;
  border-radius: 51px;
  color: rgb(0, 73, 26);
  background-color: rgb(218, 174, 43);
  font-size: 13px;
}
.antwort {
  cursor: pointer;
  background-color: rgb(122, 140, 32);
}
.antwort:hover {
  color: rgb(219, 62, 5);
  background-color: rgb(218, 174, 43);
}
.hide {
  display: none;
}
.antwort:hover + .hide {
  display: block;
  color: rgb(200, 198, 32);
  z-index: 1;
}
.footermenu {
  list-style: none;
  border: solid;
  border: 1px;
  padding: 20px;
  background-color: rgb(240, 95, 43);
  margin-top: 400px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.footermenu li {
}
.homepic {
  max-width: 50px;x
  display:flex: ;
}
